// standard Scss
// --------------------------------------------------

html, body {
  min-height: 100vh;
}


.mouse-pointer {
  cursor: pointer;
}

label.required:not(.custom-control-label):after {
  content: ' *';
  display: inline-block;
  margin-left: 5px;
  font-size: inherit;
  color: $danger;
}

[data-toggle="imageInput"], [data-toggle="fileInput"] {
  [data-trigger="fileinput"] {
    cursor: pointer;
  }
  &.fileinput-exists {
    .fileinput-new {
      display: none !important;
    }
  }
  &.fileinput-new {
    .fileinput-exists {
      display: none !important;
    }
  }
}
