// Bootstrap
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import 'variables';
@import '~bootstrap/scss/bootstrap';
//Packages
$fa-font-path: '../fonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~select2/src/scss/core';
@import '~select2-theme-bootstrap4/src/select2-bootstrap';
@import '~bootstrap-daterangepicker/daterangepicker.css';
@import '~bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css';
@import '~sweetalert2/src/sweetalert2.scss';
//*****
//Our Css
@import '../_partials/offcanvas';
@import '../_partials/button-labels';
@import '../_partials/richTextEditors';
@import '../_partials/standards';
@import '_partials/layoutBase';

.pace {
  pointer-events: none;
  user-select: none;
  &.pace-inactive {
    display: none;
  }
  .pace-progress {
    background: theme-color('info');
    position: absolute;
    z-index: 2000;
    bottom: 0;
    right: 100%;
    width: 100%;
    height: 2px;
  }
}

[class*="lazy"] {
    transition: opacity .9s;
    opacity: 0;
}

.lazyloaded {
    opacity: 1;
}

